services:
  app:
    build: .
    container_name: einfach_konjugieren
    restart: unless-stopped
    networks:
      - caddy_network
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 128M
          cpus: '0.25' 

networks:
  caddy_network:
    external: true
