:root {
  --panchang: "Panchang", sans-serif;
  --orange: #ff5c36;
  font-family: "Satoshi", sans-serif;

  // DEFAULT VITE STYLING
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  h1 {
    font-family: var(--panchang);
  }
  .title {
    text-align: center;
  }

  .pan_font {
    font-family: var(--panchang);
  }
}

#container {
  position: absolute;
  inset: 2rem;
  gap: 10px;
  display: grid;
}

// ======================================================
// ================= CONJUGATOR SECTION =================
// ======================================================

#conjugator {
  height: 100vh;
  #input_field {
    width: 100%;
    text-align: center;
    input {
      font-size: 1.3rem;
      width: 80%;
    }
  }
  .center_parent {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
  }
  #save_btn {
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 5px 10px;
  }
}

#conjugator_result #conjugated_box {
  margin: 4rem 0 0 0;
  #infinitive {
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
    h1 {
      margin: 0 auto;
      background-color: gray;
      border-radius: 30px;
      width: fit-content;
      padding: 2px 20px;
    }
  }
  .conjugated_row {
    display: flex;
    font-size: 1.3rem;
    gap: 10px;
    p.pronoun_column {
      text-align: right;
      width: 45%;
      font-style: italic;
      font-weight: 100;
    }
    p.conjugated_column {
      width: 55%;
      font-weight: 500;
    }
  }
}

// ======================================================
// ================= LIST OF VERBS ======================
// ======================================================

#conjugated_list {
  height: calc(100svh - 10px);
}
