:root {
  --panchang: "Panchang", sans-serif;
  --orange: #ff5c36;
  --red: #ff2c55;
  --green: #89fc00;
  font-family: "Satoshi", sans-serif;

  // DEFAULT VITE STYLING
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  h1 {
    font-family: var(--panchang);
  }
  .title {
    text-align: center;
  }

  .pan_font {
    font-family: var(--panchang);
  }
}

#container {
  position: absolute;
  inset: 2rem;
  gap: 10px;
  display: grid;
}

// ======================================================
// ================= CONJUGATOR SECTION =================
// ======================================================

#conjugator {
  height: 100vh;
  #input_field {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    input {
      font-size: 1.3rem;
      width: 80%;
      border-radius: 15px;
    }
    #search_btn {
      display: flex;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: 900;
    }
  }
  .center_parent {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
  }
  #save_btn {
    color: black;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 5px 10px;
    transition: ease 500ms all;
  }
  #verb_input {
    border: none;
    height: 3rem;
    padding: 0 10px;
    font-family: var(--panchang);
  }
  #bounce_btn {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    padding: 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-family: var(--panchang);
    font-size: 1.3rem;
    transition: ease 500ms all;
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }

    // Bounce Animation Keyframe
    animation: bouncy 0.8s infinite;
    animation-direction: alternate;
  }
  #conjugator_error {
    position: absolute;
    inset: 45% 0;
    font-size: 2rem;
    text-align: center;
    font-family: var(--panchang);
  }
}

#conjugator_result {
  margin: 5rem 0;
  width: fit-content;
  margin: 0 auto;
  #conjugated_box {
    min-width: 250px;
    transition: ease 200ms box-shadow;
    background-image: url("/assets/noise.png");
    background-color: #c2c1bd;
    border-radius: 10px;
    padding: 10px 15px 60px;
    color: black;
    margin: 4rem 0 0 0;
    box-shadow: rgba(187, 187, 209, 0.1) 0px 0px 16px 20px,
      rgba(210, 210, 230, 0.1) 0px 8px 24px,
      rgba(240, 240, 248, 0.1) 0px 16px 56px;
    #infinitive {
      width: 100%;
      text-align: center;
      margin-bottom: 1.2rem;
      h1 {
        cursor: pointer;
        margin: 0 auto;
        width: fit-content;
        padding: 2px 20px;
        text-decoration: underline solid gray 5px;
        border: solid 1px;
        border-radius: 50%;
        padding: 11px 29px;
      }
      &:hover {
        h1 {
          transition: ease 200ms all;
          text-decoration: underline solid var(--orange) 5px;
        }
      }
    }
    .conjugated_row {
      display: flex;
      font-size: 1.3rem;
      gap: 10px;
      p.pronoun_column {
        text-align: right;
        width: 45%;
        font-style: italic;
        font-weight: 100;
      }
      p.conjugated_column {
        width: 55%;
        font-weight: 500;
      }
    }
    &:hover {
      box-shadow: var(--orange) 0px 0px 25px;
    }
  }
}

@keyframes bouncy {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-20%);
  }
}

// ======================================================
// ================= LIST OF VERBS ======================
// ======================================================

#conjugated_list {
  height: calc(100svh - 10px);
}

#conjugated_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .enlisted_verb {
    position: relative;
    margin: 5px;
    width: 250px;
    border: 1px white solid;
    border-radius: 5%;
    padding: 10px 0;
    transition: ease 300ms box-shadow;
    &:hover {
      box-shadow: 0 0 20px white;
    }
    .enlisted_head {
      text-align: center;
    }
    .delete_btn {
      cursor: pointer;
      position: absolute;
      border: solid 1px;
      border-radius: 50%;
      padding: 5px;
      bottom: 5px;
      left: 5px;
      transition: ease 400ms all;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .enlisted_row {
    display: flex;
    gap: 10px;
    & p {
      width: 50%;
    }
    p:first-child {
      text-align: end;
      font-style: italic;
    }
    p:last-child {
      font-weight: 900;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" -25, "opsz" 48;
}
